* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 40em;
  height: 40em;
  border: 0.1em solid black;
}

circle {
  fill: transparent;
  stroke-width: 1;
  stroke: black;
}

g.points circle {
  fill: black;
  stroke-width: 0;
}

line {
  stroke: black;
  stroke-width: 1;
}

.command {
  width: 100%;
  padding: 2em;
}

input {
  width: 100%;
}
